<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.namhp.gridviewgallery" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/galleryicon01"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_activity_fullscreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider184293822093520"
            android:exported="true" />

        <activity
            android:name=".GalleryView"
            android:label="@string/title_activity_gallery_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PictureView"
            android:label="@string/picture_view"/>
        <activity android:name=".Album"
            android:label="@string/album_view"/>
        <activity android:name=".AlbumPicture"
            android:label="@string/list_pic_in_album">
        </activity>
        <activity android:name=".AddPhotoAlbum"></activity>
    </application>

</manifest>
